.contact {
  background: linear-gradient(
    180deg,
    $mainLight 0%,
    color($mainGreen lightness(85%)) 100%
  );
  padding: 10rem;
  margin: 0;

  @mixin respond deviceSM {
    padding: 1rem;
  }
}
