.about__attention-grabber {
  padding: 5rem 10rem 10rem 10rem;
  grid-row: 2/3;
  grid-column: 1/13;
  align-items: start;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @mixin respond deviceSM {
    grid-template-rows: repeat(2, 1fr);
  }
}
