.about__attention-grabber__image {
  width: 95%;
  grid-column: 7/13;
  align-self: center;
  border: $mainLight solid 0.5rem;
  transform: skewX(-3deg);
  @mixin respond deviceLG {
    width: 80%;
  }

  @mixin respond deviceMD {
    width: 75%;
  }

  @mixin respond deviceSM {
    grid-row: 2/3;
    grid-column: 1/13;
    align-self: start;
    width: 55rem;
    justify-self: center;
  }

  @mixin respond deviceXSM {
    width: 38rem;
  }
}
