$headerFont: fatfrank, sans-serif;
$mainFont: stevie-sans, sans-serif;

$mainDark: #1b1815;
$mainLight: #ffffee;
$mainGreen: #c5ce0d;
$darkGreen: #498e00;
$mainOrange: #c85c00;
$lightOrange: #ffab29;
$veryDark: #070706;
