.contact__form {
  background-color: color($mainRed lightness(30%));
  padding: 3rem 0 3rem 0;
  opacity: 0.9;
  width: 70rem;
  border-radius: 2rem;
  margin: 5rem auto;
  border: 0.4rem solid color($mainRed lightness(10%));

  @mixin respond deviceSM {
    width: 100%;
  }
}
