.contact__form {
  margin: 5rem 0 0 0;
  background-color: $mainOrange;
  width: 100%;
  padding: 3rem 0 3rem 0;
  opacity: 0.9;

  &:hover {
    box-shadow: 2px 2px 5px $mainOrange;
  }

  @mixin respond deviceSM {
    width: 100%;
    margin-right: 15%;
  }
}
