.contact__form__input,
textarea {
  height: 4rem;
  margin: 0 auto 2rem auto;
  display: block;
  width: 50%;

  &:focus {
    font-size: 1.5rem;
    color: $mainDark;
    box-shadow: 0px 0px 7px 0px $mainGreen;
    border: 0.2rem solid $mainGreen;
  }
}

textarea {
  &:focus {
    height: 20vh;
    transition: 0.3s;
  }
}
