html {
  font-size: 62.5%;

  @mixin respond deviceXLG {
    font-size: 75%;
  }

  @mixin respond deviceLG {
    font-size: 56%;
  }

  @mixin respond deviceMD {
    font-size: 50%;
  }

  @mixin respond deviceSM {
    font-size: 40%;
  }

  @mixin respond deviceXSM {
    font-size: 30%;
  }
}
