.nav {
  background-color: $mainDark;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 20rem repeat(3, 15rem);
  @mixin respond deviceMD {
    display: none;
  }
}

.nav__mobile {
  @mixin respond deviceMD {
    z-index: 50;
    position: fixed;
    width: 100%;
    top: 9rem;
  }
}
