.social__header {
  font-size: 1.8rem;
  font-family: $mainFont;
  color: $mainLight;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  text-align: justify;
  display: inline-block;

  @mixin respond deviceSM {
    font-size: 2.5rem;
    line-height: 3.5rem;
    display: block;
    text-align: center;
  }
}
