.social {
  &__icons {
    float: right;
    display: flex;
    justify-content: center;
    @mixin respond deviceSM {
      width: 50%;
      float: none;
      margin: 0 auto;
    }
  }

  &__icon {
    margin: 2rem;
    opacity: 0.7;
    width: 8rem;
    &:hover {
      transform: scale(1.2);
      opacity: 1;
      transition: 0.2s;
    }
  }
}
