.about__info__btn {
  display: grid;
  grid-template-columns: auto;
  z-index: 5;

  a {
    width: 15rem;
    justify-self: center;
    font-size: 2rem;
    color: $mainLight;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
    border: 1px $mainDark solid;
    background-color: color($mainRed lightness(30%));
    &:hover {
      transform: scale(1.04);
      background-color: color($mainRed lightness(35%));
      transition: transform 200ms, background-color 200ms;
    }
    &:nth-child(2) {
      display: none;
      @mixin respond deviceSM {
        display: block;
      }
    }
  }
  @mixin respond deviceSM {
    margin: 0;
    grid-template-columns: auto auto;
  }

  &__icon {
    width: 1.5rem;
  }
}
